/*==================
        Basic
====================*/

h1 {
  font-family: sans-serif;
  padding-top: 1em;
  text-align: center;
  color: white; 
}

p {
  color: white;
  text-align: center;
}

small {
  color: red;
}

body {
  background: #2A4359; 
}



/*=====================
          Form
=======================*/

label {
  color: white;
  font-family: sans-serif;
}

button {
  background: #1D242E;
  margin-left: 15px;
}

textarea {
  height: 100px;
}

form {
  padding: 3em;
}

